* {
    box-sizing: border-box;

}

body {
    margin:0;
    background-color: darkred;
    font-family: 'Segoe UI', Roboto, sans-serif;

}

main {
    background-color: white;
    width: 70%;
    margin: 0 auto 1rem auto;
    padding: 0 1rem 2rem 1rem;
}

header {
    background-color: lightgrey;
    border-radius: .25rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

header img {
    float:right;
    max-width: 200px;

}

#contact-button, #order-button {
    border: none;
    background-color: darkgreen;
    border-color: darkgreen;
    padding: 0.5rem 0.75rem;
    border-radius: .25rem;
    text-decoration: none;
    color:white;
    font-size: 1rem;
    }

legend {
    color: rgb(40, 176, 40);
    font-variant: small-caps;
    font-size: 1.5rem;
    padding: 0 1rem;
    
}

fieldset{
    border: 1p solid rgb(34, 156, 34);
    padding:1rem;
    margin-bottom: 1.25rem;
}

label {
    display:block;
    padding-bottom: .2rem;
}

input[type="text"], textarea,select {
    width: 100%;
    border: 1px solid rgb(85, 81, 81);
    border-radius: .25rem;
    margin-bottom: 1rem;
    padding: .75rem;
}